/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1C1C1C;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E3E3E3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ED1E79;
}

html, body {
	margin: 0px;
	height: 100%;
	font-family: 'Sarabun', sans-serif;
    scroll-behavior: smooth;
}

@media (min-width: 1000px) { 
  body {
    font-family: 'arial', Fallback, sans-serif; 
  }
}

/* Header and top content */

.header {
	font-size: 49px;
}

#updatenews {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #EF476F;
}

#updatenews a {
    align-items: center;
    font-family: sarabun;
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
}

#updatenews a:hover {
    align-items: center;    
    font-family: sarabun;
    font-weight: bolder;
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
}

.updatenews {
    display: flex;
    margin-left: 10%;
}

.updatenews2 {
    margin-left: 10px;
}

#devblog {
    display: flex;
    margin-top: 3%;
    height: 270%;
    justify-content: center;
}

#header {
	background-color: #1c1c1c;
	border: none;
	display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

#hyperlink {
    display: inline-flex;
    gap: 40px;
    margin-right: 10%;
    align-items: center;
}

.linkbox {
    background-color: ;
}

#home {
	margin: 1% auto 1% 10%;
}

#bgheader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 700px;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

/* Background Styles */

.bg0 {
    width: 100%;
    height: 1000px;
}

.bg {
	background-color: #1c1c1c;
    width: 100%;
    max-height: 4800px;
    min-height: 800px;
}

.bgu {
    background-color: #1c1c1c;
    width: 100%;
    max-height: 4800px;
    min-height: 600px;
}

.bg2 {
    background-color: #1c1c1c;
    width: 100%;
    height: 700px;
}

.a10 {
    margin-left: 10%;
    margin-bottom: 100px;
}

/* Element IDs and Classes */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80px;
}

#introtext {
}

#viewpop {
	display: inline-flex;
    margin-top: 28px;
}

#viewpop:hover {
    filter: invert(26%) sepia(99%) saturate(5118%) hue-rotate(315deg) brightness(99%) contrast(192%) !important;    
}

#viewpop2 {
    display: inline-flex;
    margin-top: 38px;
    height: 60%;
}

#viewpop2:hover {
    filter: invert(26%) sepia(99%) saturate(5118%) hue-rotate(315deg) brightness(99%) contrast(192%) !important;    
}

#viewpop3 {
    display: inline-flex;
    margin-top: 28px;
}

#viewpop3:hover {
    filter: invert(2%) sepia(10%) saturate(243%) hue-rotate(314deg) brightness(10%) contrast(82%) !important;    
}

#pop {
	margin-top: 15%;
}

.pop {
	margin-left: 10%;
}

#h1pent {
	margin-top: 10%;
}

#cases {
    display: flex;
    gap: 1%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.caselinks {
    display: flex;
    row-gap: 25px;
    margin-top: 50px;
    margin-bottom: 80px;
    align-items: center;
    flex-direction: column;
}

.caselinks2 {
    display: flex;
    row-gap: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cotdcontent {
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
    border: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.cotdimg {
    display: flex;
}

#hoaxes {
}

#rdcase {
    width: 70%;
}

.imgpop2 {
    width: 100%;
}

.imgpop2:hover {
    filter: invert(26%) sepia(99%) saturate(5118%) hue-rotate(315deg) brightness(99%) contrast(192%) !important; 
}

.imgpop {
    width: 150%;
}

#footer {
    margin-top: 10%;
}

.video {
    min-width: 100%;
    position: absolute;
    margin-top: 21%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#vid {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    filter: brightness(0.4);
}

/* Dropdown */

/* Dropdown Button */
.dropbtn {
    color: #FFFFFF;
    background: none;
    padding: 16px;
    padding-bottom: 19px;
    font-size: 28px;
    font-weight: bold;
    font-family: sarabun;
    border: solid;
    border-color: #1c1c1c;
    border-width: 2px;
    border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f7f7;
    width: 370px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #1c1c1c;
    font-family: sarabun;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    font-weight: bold;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #ffffff;
}

.dimg {
    margin-right: 10px;
}

.cimg {
    margin-left: 10px;
}


/* Footer */

.stay {
    margin-top: 10%;
    margin-bottom: 5%;
}

.hiring {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-left: 10px;
}

.centertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 10%;
    margin-bottom: 2%;
}

.centertext2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txtstyle {
    font-family: sarabun;
    color: #ffffff;
    margin: 5px;
}

a.txtstyle {
    font-family: sarabun;
    color: #ffffff;
    text-decoration: none;
    font-size: 27px;
}

a:hover.txtstyle {
    font-family: sarabun;
    color: #ffffff;
    text-decoration: none;
    font-size: 27px;
    color: #ED1E79;
}

h2.txtstyle {
    font-family: sarabun;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 28px;
}

#toes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

#project {

}

#research {

}

.imgscale {
    width: 65px;
    margin-right: 45px;
}

.imgscale:hover {
    width: 65px;
    filter: invert(26%) sepia(99%) saturate(5118%) hue-rotate(315deg) brightness(99%) contrast(192%);
    margin-right: 45px;
}

#lowerf {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2%;
    width: 100%;    
}

#ftse {
    width: 100%;
    margin-top: 2%;
    border: solid 1px;
    border-radius: 10px;
    border-color: #ffffff;
}

.forcebottom {
    position: absolute;
    bottom: 0;
}

/* Animations */

.anim1 {
    background: linear-gradient(-45deg, #EF476F, #205ce3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

